@media screen and (max-width: 1024px) {
	.wrapper {
		padding-top: 25px;
	}
	.container {
		padding: 0 30px;
	}
	.header__logo {
		max-width: 89px;
	}
	.header__btn {
		font-size: 18px;
		line-height: 27px;
		padding: 12px 40px;
	}
	.header__content-left h1 {
		max-width: 290px;
		font-size: 48px;
		line-height: 64px;
	}
	.header__content-left p {
		max-width: 420px;
		font-size: 20px;
		line-height: 30px;
	}
	.header__content-left button {
		font-size: 24px;
		line-height: 36px;
		border-radius: 5px;
		padding: 22px 78px;
		letter-spacing: 1px;
	}
	.header__content-right img {
		width: 480px;
	}
	.header__content-left::after {
		width: 70px;
		height: 70px;
		top: 115px;
		right: 35px;
	}
	.header__inner {
		margin-bottom: 60px;
	}
	/* skills */
	.skills h2 {
		font-size: 36px;
		line-height: 80px;
		margin-bottom: 50px;
	}
	.skills__grid-content h3 {
		font-size: 22px;
	}
	.skills__grid-content p {
		font-size: 14px;
		line-height: 21px;
	}
	.skills__grid-content button {
		padding: 16px 41px 19px;
	}
	.skills__grid {
		gap: 13px;
	}
	.speaking,
	.writing,
	.reading {
		width: 302px;
	}
	.writing,
	.reading {
		height: 441px;
	}
	.speaking .skills__grid-content {
		width: 250px;
		padding-left: 25px;
	}
	.speaking .skills__grid-img img {
		height: 260px;
		margin: 5px auto;
	}
	.speaking .skills__grid-content h3 {
		margin-bottom: -10px;
	}
	.speaking .skills__grid-content p {
		max-height: 270px;
		margin-bottom: 35px;
	}
	.writing .skills__grid-content,
	.reading .skills__grid-content {
		width: 270px;
		padding-left: 25px;
	}
	.writing .skills__grid-img img {
		width: 205px;
		margin: 0 0 0 80px;
	}
	.writing .skills__grid-content h3 {
		margin: -28px 0 -10px 0;
	}
	.writing .skills__grid-content p,
	.reading .skills__grid-content p {
		margin-bottom: 20px;
	}
	.reading .skills__grid-img img {
		width: 243px;
	}
	.reading .skills__grid-content h3 {
		margin: -30px 0 -15px 0;
	}
	.listening .skills__grid-content {
		width: 300px;
		padding-left: 25px;
		margin-right: 40px;
	}
	.listening .skills__grid-img img {
		width: 254px;
		margin: 35px 0 0 0;
	}
	.listening .skills__grid-content h3 {
		margin-bottom: -10px;
		margin-top: 0px;
	}
	.listening {
		height: 241px;
	}
}
@media screen and (max-width: 768px) {
	.header__content-left h1 {
		max-width: 290px;
		font-size: 36px;
		line-height: 45px;
	}
	.header__content-left p {
		max-width: 420px;
		font-size: 16px;
		line-height: 24px;
	}
	.header__content-left button {
		font-size: 18px;
		line-height: 27px;
		border-radius: 5px;
		padding: 19px 67px;
		letter-spacing: 1px;
	}
	.header__content-right img {
		width: 480px;
	}
	.header__content-left::after {
		width: 50px;
		height: 50px;
		top: 85px;
		right: 50px;
	}
	.list,
	.header__btn {
		display: none;
	}
	.header__burger {
		display: block;
	}
	.header__inner {
		margin-bottom: 50px;
	}
	/* skills */
	.skills h2 {
		font-size: 30px;
		margin-bottom: 30px;
	}
	.skills__grid-content h3 {
		font-size: 20px;
	}
	.skills__grid-content p {
		font-size: 13px;
		line-height: 20px;
	}
	.skills__grid-content button {
		font-size: 16px;
		line-height: 24px;
		padding: 13px 42px;
	}
	.skills__grid {
		gap: 10px;
	}
	.speaking,
	.writing,
	.reading {
		width: 226px;
	}
	.speaking .skills__grid-content {
		width: 200px;
		padding-left: 15px;
	}
	.speaking .skills__grid-content p {
		margin-bottom: 45px;
	}
	.speaking .skills__grid-img img {
		height: 210px;
		margin: 5px auto;
	}
	.writing .skills__grid-content,
	.reading .skills__grid-content {
		width: 215px;
		padding-left: 15px;
	}
	.writing .skills__grid-img img {
		width: 200px;
		margin: 0 0 0 10px;
	}
	.reading .skills__grid-img img {
		width: 215px;
	}
	.reading .skills__grid-content h3 {
		margin: -25px 0 -7px 0;
	}
	.listening .skills__grid-content {
		width: 300px;
		padding-left: 15px;
		margin-right: 40px;
	}
	.listening .skills__grid-img img {
		width: 200px;
		position: absolute;
		margin: 0;
		top: 70px;
		right: 20px;
	}
	.listening .skills__grid-content h3 {
		margin-bottom: -15px;
		margin-top: -5px;
	}
	.listening .skills__grid-content p {
		margin-bottom: 15px;
	}
	.listening {
		position: relative;
		height: 210px;
	}
}
@media screen and (max-width: 575px) {
	.wrapper {
		padding-top: 50px;
	}
	.header__burger span {
		width: 40px;
		height: 4px;
		margin-bottom: 5px;
	}
	.header__burger span.three {
		width: 30px;
		height: 4px;
	}
	.header__content-left::after {
		display: none;
	}
	.header__content {
		flex-direction: column;
	}
	.header__content .header__content-left {
		order: 1;
	}
	.header__menu {
		margin-bottom: 0;
	}
	.header__content-right img {
		width: 424px;
	}
	.header__content-left {
		text-align: center;
	}
	.header__content-left h1 {
		font-size: 34px;
		max-width: 500px;
		margin-bottom: 26px;
	}
	.header__content-left p {
		max-width: 490px;
		margin-bottom: 37px;
	}
	.header__content-left button {
		padding: 24px 101px;
	}
	.header__content-left h1 span:nth-child(1) {
		display: inline-block;
	}
	/* skills */
	.skills__grid-content h3 {
		font-size: 18px;
	}
	.skills__grid-content p {
		font-size: 12px;
		line-height: 18px;
	}
	.skills__grid-content button {
		font-size: 14px;
		line-height: 21px;
		padding: 13px 53px;
	}
	.skills__grid {
		gap: 30px;
		grid-template-areas:
			"one two"
			"three four";
	}
	.speaking,
	.writing,
	.reading,
	.listening {
		width: 240px;
		height: 534px;
	}
	.speaking .skills__grid-content,
	.writing .skills__grid-content,
	.reading .skills__grid-content,
	.listening .skills__grid-content {
		width: 230px;
		padding-left: 20px;
		margin: 0;
	}
	.speaking .skills__grid-content p,
	.writing .skills__grid-content p,
	.reading .skills__grid-content p,
	.listening .skills__grid-content p {
		height: 180px;
		margin-bottom: 5px;
	}
	.reading .skills__grid-content p,
	.listening .skills__grid-content p {
		height: 210px;
	}
	.speaking .skills__grid-img img,
	.writing .skills__grid-img img {
		height: 185px;
		margin: 5px auto;
	}
	.reading .skills__grid-img img,
	.listening .skills__grid-img img {
		width: 200px;
		position: unset;
		margin: 15px auto;
	}
	.writing .skills__grid-content h3,
	.reading .skills__grid-content h3,
	.listening .skills__grid-content h3 {
		margin-top: 0;
		margin-bottom: -10px;
	}
	.listening {
		display: block;
	}
}
@media screen and (max-width: 400px) {
	.wrapper {
		padding-top: 35px;
	}
	.container {
		padding: 0 15px;
	}
	.header__logo {
		max-width: 70px;
	}
	.header__burger span {
		width: 30px;
		height: 3px;
		margin-bottom: 4px;
	}
	.header__burger span.three {
		width: 21px;
		height: 3px;
	}
	.header__content-left h1 {
		font-size: 24px;
		line-height: 36px;
		max-width: 220px;
		margin: 0 auto 20px;
	}
	.header__content-left p {
		width: 295px;
		font-size: 14px;
		line-height: 21px;
	}
	.header__content-left button {
		font-size: 16px;
		line-height: 24px;
		padding: 18px 100px;
	}
	.header__content-right img {
		width: 300px;
	}
	.header__content-left::after {
		width: 70px;
		height: 70px;
		top: 115px;
		right: 35px;
	}
	.header__content-left h1 span:nth-child(2) {
		display: block;
	}
	/* skills */
	.skills h2 {
		font-size: 24px;
		margin-bottom: 30px;
	}
	.skills__grid-content h3 {
		font-size: 18px;
	}
	.skills__grid-content p {
		font-size: 13px;
		line-height: 20px;
	}
	.skills__grid-content button {
		font-size: 14px;
		line-height: 21px;
		padding: 13px 43px;
	}
	.skills__grid {
		gap: 20px;
		grid-template-areas:
			"one"
			"two"
			"three"
			"four";
	}
	.speaking,
	.writing,
	.reading,
	.listening {
		width: 290px;
		height: 473px;
	}
	.speaking {
		height: 600px;
	}
	.speaking .skills__grid-content,
	.writing .skills__grid-content,
	.reading .skills__grid-content,
	.listening .skills__grid-content {
		width: 250px;
		padding-left: 15px;
		margin: 0;
	}
	.speaking .skills__grid-img img,
	.writing .skills__grid-img img {
		width: 210px;
		margin: 25px auto 0;
	}
	.reading .skills__grid-img img,
	.listening .skills__grid-img img {
		height: 155px;
		margin: 35px auto 0;
	}
	.writing .skills__grid-content h3,
	.reading .skills__grid-content h3,
	.listening .skills__grid-content h3,
	.speaking .skills__grid-content h3 {
		margin-top: 0;
		margin-bottom: -15px;
	}
	.writing .skills__grid-content h3 {
		margin-top: -20px;
	}
	.speaking .skills__grid-content p {
		height: 230px;
		margin-bottom: 5px;
	}
	.writing .skills__grid-content p,
	.reading .skills__grid-content p,
	.listening .skills__grid-content p {
		height: 130px;
		margin-bottom: 5px;
	}
}
