@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
img {
	display: block;
	max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}
.container {
	max-width: 1340px;
	width: 100%;
	margin: 0 auto;
}
.title-h2 {
	font-weight: 600;
	font-size: 48px;
	line-height: 80px;
	color: #000000;
	text-align: center;
}
/* header section */
.wrapper {
	padding: 50px 0;
}
.header__inner {
	margin-bottom: 100px;
}
.header__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 60px;
}
.header__logo {
	max-width: 106px;
	width: 100%;
}
.list {
	width: 540px;
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.menu__item a {
	text-decoration: none;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #263238;
	transition: 0.2s all;
	border: 1px solid transparent;
	padding: 10px 10px;
}
.menu__item a:hover {
	opacity: 0.8;
	border: 1px solid #263238;
	padding: 10px 10px;
	border-radius: 5px;
}
.header__btn {
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	color: #000000;
	cursor: pointer;
	border: 2px solid #263238;
	background-color: transparent;
	border-radius: 5px;
	padding: 17px 57px;
	transition: 0.2s all;
	text-decoration: none;
}
.header__btn:hover {
	scale: 1.1;
	background-color: #263238;
	color: #fff;
}
.header__burger {
	/* display: none; */
	cursor: pointer;
}
.header__burger span {
	display: block;
	width: 30px;
	height: 3px;
	background: #39515e;
	border-radius: 1px;
	margin-bottom: 4px;
}
.header__burger span:last-child {
	margin-bottom: 0;
}
.header__burger span.three {
	width: 21px;
	height: 3px;
}
.header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__content-left {
	max-width: 632px;
	position: relative;
}
.header__content-left::after {
	content: "";
	background-image: url(../img/header_lamp.png);
	background-repeat: no-repeat;
	background-size: contain;
	transform: rotate(38.44deg);
	display: block;
	width: 90px;
	height: 90px;
	z-index: 2;
	position: absolute;
	top: 105px;
	right: 15px;
}
.header__content-left h1 {
	max-width: 386px;
	font-weight: 600;
	font-size: 64px;
	line-height: 80px;
	color: #000000;
	margin-bottom: 40px;
}
.header__content-left h1 span:nth-child(1) {
	display: block;
}
.header__content-left p {
	max-width: 550px;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	color: #8f95a5;
	margin-bottom: 60px;
}
.header__content-left button {
	font-weight: 400;
	font-size: 36px;
	line-height: 54px;
	letter-spacing: 2px;
	color: #ffffff;
	background: #263238;
	border-radius: 15px;
	cursor: pointer;
	padding: 32px 118px;
	transition: 0.3s all;
}
.header__content-left button:hover {
	scale: 1.05;
	background-color: #fff;
	color: #263238;
}
/* skills section */
.skills h2 {
	margin-bottom: 90px;
}
.skills__grid-item {
	display: flex;
	flex-direction: column;
	background: #f5f5f5;
	border-radius: 10px;
	transition: 0.3s all;
}
.skills__grid-item:hover {
	scale: 1.02;
	border: 1px solid #263238;
}
.skills__grid-img img {
	max-width: 100%;
}
.skills__grid-content h3 {
	font-weight: 600;
	font-size: 30px;
	line-height: 80px;
	color: #263238;
}
.skills__grid-content p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #8f95a5;
	overflow: hidden;
}
.skills__grid-content button {
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 1.5px;
	color: #ffffff;
	background: #263238;
	border-radius: 5px;
	cursor: pointer;
	padding: 17px 52px;
	transition: 0.2s all;
}
.skills__grid-content button:hover {
	scale: 1.05;
	background-color: #fff;
	color: #263238;
}
.skills__grid {
	display: grid;
	gap: 18px;
	grid-template-areas:
		"one two three"
		"one four four";
	justify-content: space-evenly;
	align-items: stretch;
}
.speaking {
	grid-area: one;
}
.writing {
	grid-area: two;
}
.reading {
	grid-area: three;
}
.listening {
	grid-area: four;
	flex-direction: row;
}
.listening .skills__grid-img {
	order: 1;
}
.speaking,
.writing,
.reading {
	width: 435px;
}
.writing,
.reading {
	height: 531px;
}
.listening {
	height: 343px;
}
.speaking .skills__grid-content {
	width: 400px;
	padding-left: 40px;
}
.speaking .skills__grid-img img {
	height: 390px;
	margin: 36px 0 5px 20px;
}
.speaking .skills__grid-content h3 {
	margin-bottom: 5px;
}
.speaking .skills__grid-content p {
	max-height: 190px;
	margin-bottom: 55px;
}
.writing .skills__grid-content {
	width: 400px;
	padding-left: 40px;
}
.writing .skills__grid-img img {
	width: 293px;
	margin: 0 0 0 120px;
}
.writing .skills__grid-content h3 {
	margin: -38px 0 -10px 0;
}
.writing .skills__grid-content p {
	margin-bottom: 30px;
}
.reading .skills__grid-content {
	width: 410px;
	padding-left: 40px;
}
.reading .skills__grid-img img {
	width: 371px;
	margin: 10px 0 38px 0;
}
.reading .skills__grid-content h3 {
	margin: -38px 0 -10px 0;
}
.reading .skills__grid-content p {
	margin-bottom: 27px;
}
.listening .skills__grid-content {
	width: 390px;
	padding-left: 45px;
	margin-right: 50px;
}
.listening .skills__grid-img img {
	width: 382px;
	margin: 50px;
}
.listening .skills__grid-content h3 {
	margin-bottom: -5px;
	margin-top: 50px;
}
.listening .skills__grid-content p {
	margin-bottom: 20px;
}
/* about us section */
.aboutus {
	padding: 255px 0 180px;
}
.aboutus__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.aboutus__info {
	max-width: 635px;
}
.aboutus h2 {
	text-align: unset;
	margin-top: 30px;
	margin-bottom: 25px;
}
.aboutus__info p {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #8f95a5;
	margin-bottom: 37px;
}
.aboutus__statistic {
	max-width: 620px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.aboutus__statistic-item {
	text-align: center;
}
.aboutus__statistic-item span {
	font-weight: 600;
	font-size: 48px;
	line-height: 80px;
	color: #2a3246;
}
.aboutus__img {
	position: absolute;
	max-width: 500px;
	right: 10px;
	bottom: 0;
}
/* pricing section */
.pricing h2 {
	margin-top: 10px;
	margin-bottom: 60px;
}
.pricing__inner {
	display: grid;
	gap: 70px;
	grid-template-columns: repeat(3, 1fr);
	align-items: stretch;
}
.pricing__card-item {
	display: flex;
	flex-direction: column;
	max-width: 420px;
	min-height: 100%;
}
.pricing__card-item img {
	height: 311px;
	margin-left: 30px;
	margin-bottom: 40px;
}
.pricing__card-item:nth-child(1) img {
	max-width: 311px;
}
.pricing__card-item:nth-child(2) img {
	max-width: 390px;
	margin-left: 0px;
}
.pricing__card-item:nth-child(3) img {
	max-width: 340px;
}
.pricing__card-item h3 {
	font-weight: 600;
	font-size: 30px;
	line-height: 48px;
	color: #263238;
	margin-bottom: 18px;
}
.pricing__card-item p {
	flex: 1 1 auto;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #8f95a5;
	margin-bottom: 20px;
}
.pricing__card-item button {
	width: 240px;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #546269;
	background: #eeeeee;
	border-radius: 5px;
	padding: 7px 25px;
	transition: 0.2s all;
	border: none;
	cursor: pointer;
	border: 1px solid transparent;
}
.pricing__card-item button:hover {
	scale: 1.05;
	background-color: #fff;
	border: 1px solid #263238;
}
.pricing__card-item button span {
	display: inline-block;
	margin-right: 10px;
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	color: #263238;
}
/* contactus section */
.contactus {
	padding-top: 287px;
	margin-bottom: -20px;
}
.contactus h2 {
	margin-left: 60px;
	margin-bottom: 37px;
}
.contactus__inner {
	display: flex;
	justify-content: space-between;
}
.contactus__image img {
	max-width: 477px;
	height: 429px;
	position: relative;
	top: -150px;
	left: -18px;
}
.contactus__content {
	max-width: 775px;
}
.contactus__content p {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #8f95a5;
	margin-bottom: 50px;
}
.contactus__content input {
	display: inline-block;
	width: 450px;
	border: 1px solid #8f95a5;
	border-radius: 10px;
	padding: 25px 33px;
	margin-right: 10px;
}
.contactus__content input[placeholder] {
	font-size: 16px;
	line-height: 24px;
}
.contactus__content button {
	background: #263238;
	border-radius: 10px;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #ffffff;
	padding: 21px 85px;
	cursor: pointer;
	transition: 0.3s all;
}
.contactus__content button:hover {
	scale: 1.05;
	background-color: #fff;
	color: #263238;
}
/* footer section */
.footer {
	padding-bottom: 15px;
}
.footer::before {
	content: "";
	display: block;
	margin: 0 auto;
	max-width: 1338px;
	height: 1px;
	background: #c4c4c4;
	margin-bottom: 40px;
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__logo {
	max-width: 100%;
	width: 106px;
}
.footer__info .list {
	list-style-type: disc;
	color: #8f95a5;
	width: 635px;
}
.footer__info .list li:first-child {
	list-style-type: none;
	color: #8f95a5;
}
.footer__info a {
	font-size: 24px;
	line-height: 36px;
	color: #8f95a5;
	text-decoration: none;
	transition: 0.2s all;
}
.footer__info a:hover {
	opacity: 0.8;
	text-decoration: underline;
}
/* burger menu */
.burger__menu {
	position: fixed;
	top: 0;
	left: -100%;
	height: 100vh;
	padding: 40px 25px 0 40px;
	z-index: 20;
	background-color: #fff;
	transition: .3s;
}
.active .burger__menu {
	left: 0;
}
.burger__menu-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}
.burger__line {
	width: 340px;
	height: 1px;
	display: block;
	background: #c4c4c4;
	margin-bottom: 40px;
}
.header__logo img {
	width: 90px;
	height: 45px;
}
.close {
	color: #39515e;
	font-size: 50px;
	cursor: pointer;
	transition: 0.4s all;
}
.close:hover {
	scale: 1.2;
}
.menu-list {
	list-style: none;
	margin-bottom: 60px;
}
.burger__menu-item a {
	font-weight: 500;
	font-size: 22px;
	line-height: 60px;
	color: #263238;
	text-decoration: none;
	transition: 0.4s all;
}
.burger__menu-item:hover a {
	text-decoration: underline;
}
.burger__menu-btn {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #000000;
	padding: 16px 65px;
	background-color: transparent;
	border: 2px solid #263238;
	border-radius: 5px;
	transition: 0.3s all;
	cursor: pointer;
	text-decoration: none;
}
.burger__menu-btn:hover {
	scale: 1.1;
	background-color: #263238;
	color: #fff;
}
.burger__menu-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	transition: .5s all;
}
.active .burger__menu-overlay {
	display: block;
	background-color: rgba(7, 34, 47, 0.7);
}
